
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="/events"><span class="fa fa-calendar-o"></span> Events</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars fa-lg"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav  ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/events"><span class="fa fa-home"></span> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/create"> <i class="fa fa-plus-square"></i> Add New Event</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <% if (!user) { %> 
          <li class="nav-item">
            <a class="nav-link" href="/users/login"> <i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup"> <i class="fa fa-registered"></i> SignUp</a>
          </li>
          <% } else { %> 
          <li class="nav-item">
            <a class="nav-link" href="/users/logout"> <i class="fa fa-sign-out"></i> LogOut</a>
          </li>
          <% } %> 
        </ul>

      </div>

    </div>
  </nav>